body, input, textarea, select {
    font-family: verdana, arial;
}

a:link, a:visited, a:active, a:hover {
    color: #00639c;
}

label {
    display: inline-block;
    width: 75px;
    vertical-align: top;
}

.errors {
    color: #8b0000;
}