body, input, textarea, select {
    font-family: verdana, arial;
}

a:link, a:visited, a:active, a:hover {
    color: #00639c;
}

label {
    display: inline-block;
    width: 85px;
    vertical-align: top;
}

.required:before {
    content: '* ';
    color: #c00;
}

.errors {
    color: #c00;
    margin-left: 85px;
}