<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Toco{% endblock %}</title>
        {% block head %}
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" type="text/css" />
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" type="text/css" />
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <div id="wrapper" class="container_12">
            <div id="header">
                <h1>Toco</h1>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>